@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .hamburger {
    cursor: pointer;
    height: 25px;
    width: 25px;
    transition: all 0.25s;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.25s;
  }
  
.hamburger-top, 
.hamburger-bottom, 
.hamburger-middle{
  position: absolute;
  top: 0;
  height: 2px;
  width: 25px;
  border-radius: 10px;
  transition: all 0.25s;
  background: #000010;
}


.hamburger-top{
  transform: translateY(5px);
  width: 16px;
  left: 0;

}

.hamburger-middle{
  transform: translateY(12px);
  width: 30px;
  left: 0;
}

.hamburger-bottom{
  transform: translateY(20px);
  width: 15px;
  right:0;
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  width: 25px;
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  position: absolute;
  left: -10000%;
  @apply duration-500;
}

.open .hamburger-bottom{
  width: 25px;
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}



.logo {
  font-family: 'Calligraffitti', cursive;
}

.link {
  @apply w-2/3 tracking-wide h-12 hover:bg-white hover:text-redD text-center rounded-2xl flex justify-center items-center;
}

}

.menu {
  transform: scale(0);
  transition: 0.25s ease-in;
  z-index: 1000;
} 

.toggle {
  transform: scale(1);
  transition: all 0.25s ease-in;
}