@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .p {
    @apply text-lg text-slate-600 md:text-center mt-1 font-semibold text-left;
  }
  
  .hamburger {
    cursor: pointer;
    height: 25px;
    width: 25px;
    transition: all 0.25s;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.25s;
  }
  
.hamburger-top, 
.hamburger-bottom, 
.hamburger-middle{
  position: absolute;
  top: 0;
  height: 2px;
  width: 25px;
  border-radius: 10px;
  transition: all 0.25s;
  background: #000010;
}


.hamburger-top{
  transform: translateY(5px);
  width: 16px;
  left: 0;

}

.hamburger-middle{
  transform: translateY(12px);
  width: 30px;
  left: 0;
}

.hamburger-bottom{
  transform: translateY(20px);
  width: 15px;
  right:0;
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  width: 25px;
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  position: absolute;
  left: -10000%;
  @apply duration-500;
}

.open .hamburger-bottom{
  width: 25px;
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}



.logo {
  font-family: 'Calligraffitti', cursive;
}

.link {
  @apply w-[87.3%] text-gray-300 tracking-wide h-12 hover:bg-white hover:text-redD text-center rounded-2xl flex justify-center items-center;
}

.btn {
 @apply bg-transparent mt-10 py-4 px-7 text-center w-64 h-20 rounded-lg inline text-silverR border border-redD hover:bg-redD hover:text-white;
}

.btn2 {
  @apply bg-DarkOrange grid place-content-center text-center w-1/2 h-16 rounded-lg text-white hover:opacity-80;
}

/* 
.classes-box {
} */


}

.menu {
  transform: scale(0);
  transition: 0.25s ease-in;
  z-index: 1000;
} 

.toggle {
  transform: scale(1);
  transition: all 0.25s ease-in;
}

.image-bg {
    background-image: url('./assets/img2.png');
    background-size: cover;
    background-repeat: no-repeat;
  } 